<main>
    {{#if hasProducts }}
        <div class="grid">
            {{#each products}}
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">{{ this.title }}</h1>
                </header>
                <div class="card__image">
                    <img src="{{ this.imageUrl }}" alt="{{ this.title }}">
                </div>
                <div class="card__content">
                    <h2 class="product__price">${{ this.price }}</h2>
                    <p class="product__description">{{ this.description }}</p>
                </div>
                <div class="card__actions">
                    {{> add-to-cart product=this}}
                </div>
            </article>
            {{/each}}
        </div>
    {{ else }}
        <h1>No Products Found!</h1>
    {{/if}}
</main>