<main>
    {{#if hasProducts }}
    <div class="grid">
        {{#each prods}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{ this.title }}</h1>
            </header>
            <div class="card__image">
                <img src="{{ this.imageUrl }}" alt="A Book">
            </div>
            <div class="card__content">
                <h2 class="product__price">${{ this.price }}</h2>
                <p class="product__description">{{ this.description }}</p>
            </div>
            <div class="card__actions">
                <form action="/add-to-cart" method="post">
                    <button class="btn">Add to Cart</button>
                </form>
            </div>
        </article>
        {{/each}}
    </div>
    {{ else }}
    <h1>No Products Found!</h1>
    {{/if}}
</main>